<section class="container hero bg-image-yellow">
  <div class="row">
    <div class="col-md-6 justify-content-between h-100 my-auto">
        <p class="h1 lh-base py-5 fw-bold">
          Первый в мире удобный менеджер флеш-карточек.
        </p>
        <p class="h2 d-inline-block align-middle py-2 pe-5 lh-lg border-top border-3 border-dark">Именно так.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "hero.jpg", alt: "Девушка с оранжевой папкой", loading: "eager", width: "800" %>
    </div>
  </div>
</section>
