%section.container
  %h1.py-5.h1.lh-base.fw-bold.text-center= t("cards.heading")
  %ul.row.justify-content-between
    - @cards.each do |card|
      %li.col-6.col-lg-4.pb-5
        .flip-container
          .flipper.text-center.py-0.jsFlipper
            .flip-front.border-top.border-bottom.border-end.rounded.shadow-sm
              %h2.card-title.p-2.py-5= card.original_text
              %button.flip-btn.rounded.mb-3.jsFlipBtn
                %span.visually-hidden Flip
              %p.text-secondary.fw-lighter.fst-italic= card.review_date.strftime("%d/%m/%Y")
            .flip-back.border-top.border-bottom.border-start.rounded.shadow-sm
              %p.h2.card-title.p-2.py-5= card.translated_text
              %button.flip-btn.rounded.jsFlipBtn
                %span.visually-hidden Back
