<header class="container py-4">
  <div class="row ">
    <a class="col-md-6 text-dark pb-2 pb-md-0">
      <%= image_tag "logo.svg", class: "d-inline-block align-middle", alt: "Логотип", loading: "eager", width: "40" %><h1 class="h1 d-inline-block align-middle m-auto fw-bold">Флэшкарточкер</h1>
    </a>
    <div class="col-md-6 m-auto">
      <ul class="row justify-content-around m-auto p-0">
        <li class="col-md-5 mb-2 mb-md-0 btn btn-primary bg-gradient h-100"><a href="#" class="text-white text-decoration-none">Все
            карточки</a>
        </li>
        <li class="col-md-6 btn btn-success bg-gradient add-card-button ps-3 h-100"><a href="#"
            class="text-white text-decoration-none">
              <svg class="d-inline-block align-middle" id="i-plus"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0  32 32" width="18" height="18" fill="none"
              stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
              <path d="M16 2 L16 30 M2 16 L30 16" />
            </svg>
            <p class="mb-0 ps-1 d-inline-block align-middle">Добавить
              карточку</p>
          </a></li>
      </ul>
    </div>
  </div>
</header>
